/* #region reset */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* #endregion reset */

/* #region Color Palette */
:root{
    --drop-lighter: rgba(255, 255, 255, 1);
    --drop-light:rgba(245, 245, 245, 1);
    --drop-darker: black;
    --drop-primary: rgba(180, 208, 231, 1);
    --drop-btn: rgba(0, 97, 255, 1);
    --drop-square-danger: rgba(213, 0, 31, 1);
    --drop-square-danger-light: rgba(255, 28, 28, 1);
    --drop-square-danger-dark: rgba(97, 8, 43, 1);
    --drop-square-primary-dark: rgba(13, 36, 129, 1);
    --drop-square-primary-light: rgba(0, 147, 206, 1);
    --drop-square-accent: rgba(255, 216, 48, 1);
    --drop-square-light: rgba(162, 211, 155, 1);
}

/* #endregion Color Palette */

/* #region Debug */

/* .debug #site_header{
    height: 50px;
    background-color: aqua;
} */

/* .debug .jumbotron{
    height: 700px;
} */

/* .debug .container-large{
    border: 1px solid black;
} */




/* #region Common */

body{
    font-family: 'Open Sans', sans-serif;
}

li{
    list-style: none;
}

.container-large{
    width: 75%;
    margin: auto;
}

h1{
    font-size: 5.7rem;
    font-weight: 900;
}

/* #endregion Common */

/* #region Utility */

.d-flex{
    display: flex;
}

.list-inline{
    display: flex;
    gap: 1rem;
    align-items: center;
}

.col-12{
    width: 100%;
}

.col-3{
    width: calc((100% / 12) * 3);
}

.col-4{
    width: calc((100% / 12) * 4);
}

.col-9{
    width: calc((100% / 12) * 9);
}



/* #endregion Utility */

/* #region Header */

#site_header{
    max-width: 2000px;
    font-size: 1.3rem;
    
    & .link{
        text-decoration: none;
        color: var(--drop-darker);
    }
}

nav{
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.btn{
    background-color: var(--drop-btn);
    padding: 0.2rem 0.5rem;
    color: var(--drop-lighter);
    text-decoration: none;
}

/* #endregion Header */

/* #region Jumbo */

.jumbotron{
    background-color: var(--drop-primary); 
    padding-top: 5rem;
    padding-bottom: 1.5rem;  
    
    & .col-9{
        margin-bottom: -8rem;
    }
    
    & img{
        width: 100%;
    }
}

.banner{
    padding-top: 3.5rem;

    & .free-trial{
        font-size: 1.4rem;
        line-height: 1.4rem;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 1.5rem;
        
    }
}

.click-me{
    flex-direction: column;
    gap: 3rem;
    width: 75%;
    font-size: 1.2rem;

    & > .btn{
        padding: 1rem;
    }

    & > .link{
        text-decoration: none;
        color: var(--drop-darker);
    }

}

.actions > i{
    font-size: 4rem;
}

/* #endregion Jumbo */